.bandes-contenus .bande.bande-1 {
    background: url(../assets/img/weakspot-mesuer-empreinte-web.jpg) center no-repeat;
    background-size: cover;
    background-attachment: relative;
}

.bandes-contenus .bande {
    padding: 150px 0;
    position: relative;
}

.bandes-contenus .bande.bande-1:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 68%, rgba(0, 0, 0, 0) 100%);
}

.bandes-contenus .bande.bande-1 .container {
    position: relative;
    z-index: 5;
}

.bandes-contenus .bande.bande-1 .container .content-pedag {
    color: #fff;
}

.bandes-contenus .bande.bande-1 .container .content-pedag h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
}

.bandes-contenus .bande.bande-1 .container .content-pedag h3 span {
    text-transform: uppercase;
    display: block;
    font-size: 64px;
    line-height: 0.9;
    font-weight: 700;
    letter-spacing: 0;
}

.bouton.btn-gradient {
    padding: 12px 40px;
    color: #fff;
    background: #1f5fc2;
    background: linear-gradient(to right, #1f5fc2 0%, #00bffe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f5fc2', endColorstr='#00bffe', GradientType=1);
}

.bandes-contenus .bande.bande-2 {
    background: url(../assets/img/weakspot-mesuer-empreinte-web2.jpg) center no-repeat;
    background-size: cover;
    background-attachment: relative;
}

.bandes-contenus .bande {
    padding: 150px 0;
    position: relative;
}



.bandes-contenus .bande.bande-2:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0.65) 100%);
}

.bandes-contenus .bande.bande-2 .container {
    position: relative;
    z-index: 5;
}

.text-right {
    text-align: right!important;
}

.justify-content-end {
    -webkit-box-pack: end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.bandes-contenus .bande.bande-2 .container .content-pedag {
    color: #fff;
}

.bandes-contenus .bande.bande-2 .container .content-pedag h3 {
    margin: 0;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
}

.bandes-contenus .bande.bande-2 .container .content-pedag h3 span {
    text-transform: uppercase;
    display: block;
    font-size: 65px;
    line-height: 0.9;
    font-weight: 700;
    letter-spacing: 0;
}



@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }

    .col-xl-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .container {
        max-width: 1140px;
    }

    .col-xl-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

}

