.wrapper-central {
    padding-top: 100px;
    min-height: inherit;
    padding-bottom: 10px;
}

.wrapper-central {
    min-height: 100vh;
    background: #1487cb;
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center!important;
}

.wrapper-central .txt-intro .icon-points-attention {
    width: 100px;
    margin-bottom: 8px;
}

.wrapper-central .txt-intro h1 {
    font-weight: 500;
    margin: 0 0 5px;
}

.wrapper-central h1 {
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

.wrapper-central .txt-intro p {
    color: #bbe5ff;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.blocs-kpi h2 {
    font-weight: 300;
    color: #fff;
    font-size: 25px;
}

.row-kpi {
    margin: 0 -25px;
}

.justify-content-between {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.col-kpi {
    transition: all ease-in-out 0.25s;
    padding: 0 25px;
}

.col-kpi:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.unit-kpi {
    color: #fff;
    text-align: center;
    padding: 40px 50px 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    transition: all ease-in-out 0.25s;
}

.col-kpi:hover .unit-kpi {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.unit-kpi a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.unit-kpi .counter {
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
}

.unit-kpi p {
    margin: 0;
    color: #ffffff;
}

.unit-kpi .categorie {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
}

.unit-kpi p {
    margin: 0;
    color: #ffffff;
}

.unit-kpi .sub-infos {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
}

.unit-kpi p {
    margin: 0;
    color: #ffffff;
}

.unit-kpi img {
    width: 80px;
    margin: 10px auto 0;
}

.link-details {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none !important;
    padding-left: 26px;
    transition: all ease-in-out 0.25s;
}

.bouton.btn-white {
    background: #fff;
    color: #004bbe;
}

.bouton.btn-white:hover {
    background: #d8d8d8;
}

.bouton.btn-bleu {
    background: #002f7d;
    color: #fff;
}

.bouton.btn-bleu:hover {
    background: #001c4a;
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

