.relative-bottom {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

footer {
    text-align: center;
    padding: 10px 15px;
    background: #272727;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer p {
    margin: 0;
    color: #fff;
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}