.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

header {
    background: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    height: 60px;
}

header .logo-weakspot {
    display: block;
    width: 140px;
    position: absolute;
    top: 13px;
    left: 50%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

header .log-links {
    text-align: left;
    position: absolute;
    top: 13px;
    right: 0;
    padding-bottom: 9px;
    padding-right: 30px;
}

header .log-links:hover .logout {
    display: block;
}

.icon-user {
    width: 31%;
    margin-top: -15px;
}

img {
    vertical-align: middle;
    border-style: none;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

header .log-user {
    color: #000;
    text-decoration: none !important;
    line-height: 1.1;
    display: inline-block;
}

header .log-user p {
    font-size: 16px;
    margin: 0;
}

header .log-user small {
    color: #1879c8;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

header .logout {
    position: absolute;
    top: 100%;
    left: -15px;
    color: #000;
    background: #fff;
    font-size: 13px;
    width: 152px;
    padding: 10px 40px 10px 15px;
    border-top: 1px solid #ddd;
    display: none;
}




