header .logo-weakspot-dashboard {
    display: block;
    width: 140px;
    position: absolute;
    top: 13px;
    left: 5%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.form-search-nav {
    padding: 2px 200px 0;
    margin: 0 auto;
}

.form-search-nav .form-control {
    max-width: 700px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 0 0 3px 30px;
    background: url(../assets/img/icon-search.svg) bottom 9px left 2px no-repeat;
    background-size: 20px auto;
    color: #666;
    font-weight: 300;
    border-radius: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-search-nav .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #1879c8;
}






