.details-techniques {
    display: block;
    background: #164c92;
    padding: 50px 0 70px;
}

.details-techniques .bloc-titre {
    color: #fff;
    font-weight: 300;
}

.text-center {
    text-align: center!important;
}

.details-techniques .bloc-titre img {
    width: 80px;
}

.details-techniques .bloc-titre h3 {
    margin: 0;
    font-weight: 300;
}

.details-techniques .listing-details {
    background: #123d75;
}

.details-techniques .listing-details .thead {
    color: #002f7d;
    font-size: 16px;
    font-weight: 500;
    background: #86cbf5;
    padding: 10px 15px;
}

.details-techniques .listing-details .tbody {
    font-size: 15px;
    color: #fff;
    max-height: 390px;
    overflow-y: scroll;
}

:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

.details-techniques .listing-details .tbody .row {
    padding: 8px 0;
    margin: 0;
    border-bottom: 1px dashed #fff;
}

.details-techniques .bloc-recommandations {
    color: #fff;
    border: 1px solid #86cbf5;
    padding: 30px 40px;
}

.details-techniques .bloc-recommandations h4 {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.details-techniques .bloc-recommandations ul {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
}

.details-techniques .bloc-recommandations ul li {
    position: relative;
    padding-left: 70px;
    margin-bottom: 30px;
}

.details-techniques .bloc-recommandations ul li .number {
    font-size: 65px;
    color: #86cbf5;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0.8;
}

.details-techniques .bloc-recommandations ul li p.titre-reco {
    font-size: 18px;
    color: #86cbf5;
}

.li-margin {
    margin-bottom: 0 !important;
}

.details-techniques .bloc-recommandations ul li p {
    font-size: 15px;
    color: #fff;
    margin: 0;
}