.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.wrapper-central {
    min-height: 100vh;
    background: #1487cb;
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1487cb', endColorstr='#1f5cc0', GradientType=0);
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}



.container {
     width: 100%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
}

.bouton.btn-bleu {
    background: #002f7d;
    color: #fff;
}

.bouton.btn-bleu:hover {
    background: #001c4a;
}

.pgs {
    margin-top: 20px;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouton {
   display: inline-block;
   padding: 12px 30px;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 16px;
   border-radius: 5px;
   line-height: 1;
   text-decoration: none !important;
   transition: all ease-in-out 0.25s;
   cursor: pointer;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.wrapper-central .content-search {
    margin-top: -70px;
}

.wrapper-central .icon-loupe-yellow {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }

    .wrapper-central h1 {
        color: #fff;
        margin-bottom: 30px;
        text-align: center;
        font-size: 36px;
        font-weight: 300;
    }

    .wrapper-central .ipt-search-main {
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        height: 60px;
        border-radius: 7px;
        text-align: center;
        padding: 10px 20px;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }







