@import url("home.css");
@import url("header-search.css");
@import url("main-search.css");
@import url("footer.css");
@import url("footer-search.css");
@import url("header-details.css");
@import url("details-wrapper-central.css");
@import url("details-bandes-contenus.css");
@import url("mails-details-bandes-contenus.css");

*{
    margin: 0;
    padding: 0;
}
body{
    font-family:-apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.wrapper-central {
    min-height: 100vh;
    background: #1487cb;
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

/*.content{
    background-color: white;
    width:400px;
    height: 370px;
    margin: auto;
    background: #1487cb;
}
.container{
    width: 100%;
    height:100%;
    display: inline-block;
}
.form-login {
    max-width: 400px;
    border-radius:7px;
    padding: 40px 30px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}*/

.wrapper-central .form-login {
    max-width: 400px;
    border-radius: 7px;
    padding: 40px 30px;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.logo-white {
    display: block;
    margin: -50px auto 30px;
    width: 250px;
}


.wrapper-central h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

.wrapper-central .form-login h1 {
    color: #000;
    margin: 0 0 10px;
}


/*h2{
    color: #000000;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}*/

/*p{
    text-align: center;
    margin: 20px 0;
}*/

input{
    height:40px;
    width:350px;
    margin:5px 0;
    padding:10px 10px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bouton.btn-bleu {
    background: #002f7d;
    color: #fff;
}

.bouton {
    display: inline-block;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
    text-decoration: none !important;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}

.bouton.btn-bleu:hover{
    background: #001c4a;
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}